---
const {text} = Astro.props
---

<header>
<nav>
    <ul>
        <li><a href="#">{text}</a></li>
    </ul>
</nav>
</header>


<style>
header{
    background-color: #587090;
    
    text-decoration: none;
}

li{
    text-decoration: none;
    color: #FFFFFF;
}
</style>