---
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
import OmSide from "../components/om_side.astro"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/style.css">
		<title>Astro Basics</title>
	</head>
	
	<body>
		<Header/>
	

		<Footer tekst="Har du et spørgsmål til Kulturnat?"></Footer>
		<Footer tekst="Email: kulturnatten@elsinore2032.dk"></Footer>
		<Footer tekst="Genveje:"></Footer>
		<Footer tekst="Program"></Footer>
		<Footer tekst="Praktiske oplysninger"></Footer>
		<Footer tekst="Kontakt"></Footer>
		<Footer tekst="Følg os på Facebook"></Footer>

		<slot />
		<layout>
			<script src="/src/js/burgermenu.js"></script>
		</layout>

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
